/* Game colors */
/* red-black created by Benjam Welker */
/*
	all the layout for the webpages are specified in the layout.css
	file.  the colors have been seperated out for ease of customization
*/
/* basic styles */
/* line 69, scss/_c_template.scss */
body {
  color: #dddddd;
  background-color: black;
}

/* line 75, scss/_c_template.scss */
h1 {
  border-bottom-color: #777777;
  background-color: #cc0000;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(11.111%, #cc0000), color-stop(100%, #000000));
  background-image: -moz-linear-gradient(top, #cc0000 10%, #000000 90%);
  background-image: linear-gradient(top, #cc0000 10%, #000000 90%);
}

/* line 85, scss/_c_template.scss */
a {
  color: #dddddd;
}
/* line 88, scss/_c_template.scss */
a:hover {
  color: #cc0000;
}
/* line 92, scss/_c_template.scss */
a.help {
  border-color: #777777;
}
/* line 95, scss/_c_template.scss */
a.help:hover {
  border-color: #777777;
}

/* line 103, scss/_c_template.scss */
abbr,
acronym {
  border-color: #777777;
}

/* line 108, scss/_c_template.scss */
hr.fancy {
  background-color: #777777;
  border-color: #777777;
}

/* line 114, scss/_c_template.scss */
fieldset {
  border-color: #777777;
}

/* line 119, scss/_c_template.scss */
.warning, .warning * {
  color: #dd0000;
}

/* line 124, scss/_c_template.scss */
.notice, .notice * {
  color: #dddd00;
}

/* line 129, scss/_c_template.scss */
.highlight, .highlight * {
  color: #bb0000;
}

/* line 134, scss/_c_template.scss */
.instruction, .instruction * {
  color: #555555;
}

/* links */
/* line 141, scss/_c_template.scss */
#links a {
  border-color: transparent;
  background-color: transparent;
  color: #dddddd;
}
/* line 146, scss/_c_template.scss */
#links a:hover {
  border-color: #777777;
  background-color: black;
  color: #cc0000;
}

/* line 156, scss/_c_template.scss */
#menu,
#mygames {
  border-color: #cc0000;
}
/* line 159, scss/_c_template.scss */
#menu a,
#mygames a {
  color: #dddddd;
  background-color: #111111;
  border-color: #333333;
}
/* line 164, scss/_c_template.scss */
#menu a:hover,
#mygames a:hover {
  color: white;
  background-color: #440000;
  border-color: #333333;
}
/* line 169, scss/_c_template.scss */
#menu a:hover .notice,
#mygames a:hover .notice {
  color: #dd0000;
}
/* line 174, scss/_c_template.scss */
#menu a .notice,
#mygames a .notice {
  color: #dd0000;
}
/* line 181, scss/_c_template.scss */
#menu li.active a,
#mygames li.active a {
  color: white;
  background-color: #990000;
  border-color: #333333;
}
/* line 186, scss/_c_template.scss */
#menu li.active a .notice,
#mygames li.active a .notice {
  color: white;
}

/* line 196, scss/_c_template.scss */
#mygames .finished a {
  color: #555555;
}
/* line 197, scss/_c_template.scss */
#mygames .playing a {
  color: #dd0000;
}
/* line 198, scss/_c_template.scss */
#mygames .my_turn a {
  color: #dddd00;
}
/* line 199, scss/_c_template.scss */
#mygames .none a {
  color: #dddddd;
}

/* notes */
/* line 205, scss/_c_template.scss */
#sidebar #chatbox {
  background-color: #111111;
  border-color: #333333;
}

/* line 212, scss/_c_template.scss */
#notes {
  background-color: #111111;
  border-color: #cc0000;
}

/* chats */
/* line 220, scss/_c_template.scss */
#chats dt {
  background: #777777;
  color: white;
}
/* line 225, scss/_c_template.scss */
#chats dd {
  border-color: #777777;
}

/* main */
/* line 232, scss/_c_template.scss */
h2 {
  border-color: #777777;
}

/* line 238, scss/_c_template.scss */
#index_page #chatbox {
  border-color: #777777;
}
/* line 243, scss/_c_template.scss */
#index_page #chats dt {
  border-color: #777777;
  background-color: transparent;
}
/* line 248, scss/_c_template.scss */
#index_page #chats dd {
  border-color: #777777;
}

/* footer */
/* line 256, scss/_c_template.scss */
#footer {
  color: #dddddd;
  background-color: #cc0000;
  border-color: #777777;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(11.111%, #cc0000), color-stop(100%, #000000));
  background-image: -moz-linear-gradient(bottom, #cc0000 10%, #000000 90%);
  background-image: linear-gradient(bottom, #cc0000 10%, #000000 90%);
}

/* other basic styles */
/* line 269, scss/_c_template.scss */
#buttons a {
  border-color: #777777;
}

/* line 277, scss/_c_template.scss */
div.help li strong {
  color: #dd0000;
}

/* datatable styles */
/* line 285, scss/_c_template.scss */
table {
  border-color: #777777;
}

/* line 289, scss/_c_template.scss */
th {
  border-bottom-color: #777777;
  border-right-color: #777777;
}

/* line 295, scss/_c_template.scss */
tr:hover > td,
tr.alt:hover > td {
  background-color: #880000;
  color: #dddddd;
}

/* line 300, scss/_c_template.scss */
td {
  border-right-color: #777777;
}

/* line 304, scss/_c_template.scss */
tr.alt {
  background-color: #222222;
}

/* line 309, scss/_c_template.scss */
.lowlight,
.lowlight td {
  color: #888888;
}

/* sorted table styles */
/* line 315, scss/_c_template.scss */
thead tr th {
  background-color: black;
}

/* line 320, scss/_c_template.scss */
thead tr .headerSortDown,
thead tr .headerSortUp {
  background-color: #cc0000;
  color: black;
}

/* line 325, scss/_c_template.scss */
thead tr .headerSortUp {
  border-top-color: black;
}

/* line 329, scss/_c_template.scss */
thead tr .headerSortDown {
  border-bottom-color: black;
}

/* fancybox overrides */
/* line 335, scss/_c_template.scss */
#fancybox-content {
  background-color: black;
}
