/* Game colors */
/* red-black created by Benjam Welker */
/*
	all the layout for the webpages are specified in the layout.css
	file.  the colors have been seperated out for ease of customization
*/
/* basic styles */
/* line 68, scss/_c_template.scss */
body {
  color: #dddddd;
  background-color: black;
}

/* line 74, scss/_c_template.scss */
h1 {
  border-bottom-color: #777777;
  background-color: #cc0000;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(11.111%, #cc0000), color-stop(100%, #000000));
  background-image: -moz-linear-gradient(top, #cc0000 10%, #000000 90%);
  background-image: linear-gradient(top, #cc0000 10%, #000000 90%);
}

/* line 84, scss/_c_template.scss */
a {
  color: #dddddd;
}
/* line 87, scss/_c_template.scss */
a:hover {
  color: #cc0000;
}
/* line 91, scss/_c_template.scss */
a.help {
  border-color: #777777;
}
/* line 94, scss/_c_template.scss */
a.help:hover {
  border-color: #777777;
}

/* line 102, scss/_c_template.scss */
abbr,
acronym {
  border-color: #777777;
}

/* line 107, scss/_c_template.scss */
hr.fancy {
  background-color: #777777;
  border-color: #777777;
}

/* line 113, scss/_c_template.scss */
fieldset {
  border-color: #777777;
}

/* line 118, scss/_c_template.scss */
.warning, .warning * {
  color: #dd0000;
}

/* line 123, scss/_c_template.scss */
.notice, .notice * {
  color: #dddd00;
}

/* line 128, scss/_c_template.scss */
.highlight, .highlight * {
  color: #bb0000;
}

/* line 133, scss/_c_template.scss */
.instruction, .instruction * {
  color: #555555;
}

/* links */
/* line 140, scss/_c_template.scss */
#links a {
  border-color: transparent;
  background-color: transparent;
  color: #dddddd;
}
/* line 145, scss/_c_template.scss */
#links a:hover {
  border-color: #777777;
  background-color: black;
  color: #cc0000;
}

/* line 155, scss/_c_template.scss */
#menu,
#mygames {
  border-color: #cc0000;
}
/* line 158, scss/_c_template.scss */
#menu a,
#mygames a {
  color: #dddddd;
  background-color: #111111;
  border-color: #333333;
}
/* line 163, scss/_c_template.scss */
#menu a:hover,
#mygames a:hover {
  color: white;
  background-color: #440000;
  border-color: #333333;
}
/* line 168, scss/_c_template.scss */
#menu a:hover .notice,
#mygames a:hover .notice {
  color: #dd0000;
}
/* line 173, scss/_c_template.scss */
#menu a .notice,
#mygames a .notice {
  color: #dd0000;
}
/* line 180, scss/_c_template.scss */
#menu li.active a,
#mygames li.active a {
  color: white;
  background-color: #990000;
  border-color: #333333;
}
/* line 185, scss/_c_template.scss */
#menu li.active a .notice,
#mygames li.active a .notice {
  color: white;
}

/* line 195, scss/_c_template.scss */
#mygames .finished a {
  color: #555555;
}
/* line 196, scss/_c_template.scss */
#mygames .playing a {
  color: #dd0000;
}
/* line 197, scss/_c_template.scss */
#mygames .my_turn a {
  color: #dddd00;
}
/* line 198, scss/_c_template.scss */
#mygames .none a {
  color: #dddddd;
}

/* notes */
/* line 204, scss/_c_template.scss */
#sidebar #chatbox {
  background-color: #111111;
  border-color: #333333;
}

/* line 211, scss/_c_template.scss */
#notes {
  background-color: #111111;
  border-color: #cc0000;
}

/* chats */
/* line 219, scss/_c_template.scss */
#chats dt {
  background: #777777;
  color: white;
}
/* line 224, scss/_c_template.scss */
#chats dd {
  border-color: #777777;
}

/* main */
/* line 231, scss/_c_template.scss */
h2 {
  border-color: #777777;
}

/* line 237, scss/_c_template.scss */
#index_page #chatbox {
  border-color: #777777;
}
/* line 242, scss/_c_template.scss */
#index_page #chats dt {
  border-color: #777777;
  background-color: transparent;
}
/* line 247, scss/_c_template.scss */
#index_page #chats dd {
  border-color: #777777;
}

/* footer */
/* line 255, scss/_c_template.scss */
#footer {
  color: #dddddd;
  background-color: #cc0000;
  border-color: #777777;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(11.111%, #cc0000), color-stop(100%, #000000));
  background-image: -moz-linear-gradient(bottom, #cc0000 10%, #000000 90%);
  background-image: linear-gradient(bottom, #cc0000 10%, #000000 90%);
}

/* other basic styles */
/* line 268, scss/_c_template.scss */
#buttons a {
  border-color: #777777;
}

/* line 276, scss/_c_template.scss */
div.help li strong {
  color: #dd0000;
}

/* datatable styles */
/* line 284, scss/_c_template.scss */
table {
  border-color: #777777;
}

/* line 288, scss/_c_template.scss */
th {
  border-bottom-color: #777777;
  border-right-color: #777777;
}

/* line 294, scss/_c_template.scss */
tr:hover > td,
tr.alt:hover > td {
  background-color: #880000;
  color: #dddddd;
}

/* line 299, scss/_c_template.scss */
td {
  border-right-color: #777777;
}

/* line 303, scss/_c_template.scss */
tr.alt {
  background-color: #222222;
}

/* line 308, scss/_c_template.scss */
.lowlight,
.lowlight td {
  color: #888888;
}

/* sorted table styles */
/* line 314, scss/_c_template.scss */
thead tr th {
  background-color: black;
}

/* line 319, scss/_c_template.scss */
thead tr .headerSortDown,
thead tr .headerSortUp {
  background-color: #cc0000;
  color: black;
}

/* line 324, scss/_c_template.scss */
thead tr .headerSortUp {
  border-top-color: black;
}

/* line 328, scss/_c_template.scss */
thead tr .headerSortDown {
  border-bottom-color: black;
}
