
/* Penta colors */
/* yellow-black created by Benjam Welker */

/* $Id: c_yellow_black.css 208 2009-10-22 09:29:14Z cchristensen $ */

/*
	all the layout for the webpages are specified in the layout.css
	file.  the colors have been seperated out for ease of customization
*/



/* body background */
body {
	background: #000 url(../images/bg_yellow_black.gif) top center repeat-x;
}


/* text color */
body , a , #menu a , #mygames a {
	color: #EEE;
}

a:hover {
	color: #CC0;
}


/* main (basic) */

.notice {
	color: #0CC;
}

.highlight {
	color: #CC0;
}

#menu li.active .notice {
	color: #FFF;
}

.instruction {
	color: #AAA;
}

abbr,
acronym {
	border-color: #555;
}

a.help {
	border-color: #777;
	color: #CC2;
}

a.help:hover {
	border-color: #CC2;
}

hr.fancy {
	background-color: #440;
	border: 1px solid #660;
}

fieldset {
	border: 1px solid #8F8F00;
}


/* footer */
#footer,
#FENblock {
	background: #000 url(../images/bg_yellow_black.gif) top center repeat-x;
	border-top: 1px solid #BBB;
}


/* links */
#links a , #footer {
	color: #EEE;
}

#links a:hover {
	background-color: #FFF;
	color: #8F8F00;
	border-color: #000;
}


/* notes */
#notes {
	background-color: #111;
	border: 1px solid #660;
}

#sidebar #chatbox {
	background-color: #111;
	border: 1px solid #660;
}


/* messages */
.messageheader {
	border-bottom: 1px solid #CC0;
}


/* menu */
#menu ,
#mygames {
	border: 1px solid #660;
}

#menu a ,
#mygames a {
	color: #DDD;
	background-color: #111;
	border-bottom: 1px solid #333;
}

#menu a:hover,
#mygames a:hover {
	color: #FFF;
	background-color: #404000;
}

#menu li.active a,
#mygames li.active a {
	color: #FFF;
	background-color: #9F9F00;
	border-color: #333;
}

/* lobby */
#index_page #chatbox {
	border-color: #444;
}

#index_page #chats dt {
	color: #EEE;
	border-color: #9F9F00;
}

#index_page #chats span {
	color: #777;
}

#index_page #chats dd {
	color: #CCC;
	border-color: #222;
}

/* games list */
#mygames .dead a { color: #999; }
#mygames .placing a { color: #F00; }
#mygames .playing a { color: #FF0; }
#mygames .none a { color: #FFF; }


/* tables */
table ,
th {
	border-color: #660;
}

th ,
td {
	border-right-color: #555;
}

.dicetable td.lower {
	border-bottom-color: #660;
}

.alt {
	background-color: #222;
}

.highlight,
.unread {
	color: #CC0;
}

.password {
	background: transparent url(../images/lock.gif) right center no-repeat;
	padding-right: 9px;
}

th {
	background: #000;
	color: #FFF;
}

tr:hover > td ,
tr.alt:hover > td {
	background-color: #404000;
	color: #FFF;
}

html div#fancy_div {
	background-color: #000;
	color: #FFF;
}

.game_info {
	background-color: #000;
	color: #FFF;
}


/* sorted table styles */
thead tr th {
	background-color: #111;
}

thead tr .headerSortDown,
thead tr .headerSortUp {
	background-color: #9F9F00;
	color: #FFF;
}

thead tr .headerSortUp {
	border-top-color: #EEE;
}

thead tr .headerSortDown {
	border-bottom-color: #EEE;
}