
#contents {
	margin: 10px;
}

#nudge {
	float: right;
}

#chatbox {
	margin-left: 712px;
	border: 2px solid #CCC;
}

#chatbox input[type=text] {
	width: 80%;
}

#history {
	float: left;
	width: 150px;
}

#history table {
	margin: 0;
}

table.history td {
	padding: 3px 5px;
	font-size: 1.1em;
	line-height: 150%;
	border-bottom: 1px solid #222;
}

table.history td.date {
	width: 1%;
	white-space: nowrap;
}

#board_wrapper {
	float: left;
	width: 550px;
	margin-left: 5px;
}

#board {
	width: 550px;
	height: 450px;
}
