
#contents {
	margin: 10px;
}

#chatbox {
	margin-left: 712px;
	border: 2px solid #CCC;
}

#chatbox input[type=text] {
	width: 80%;
}

#history {
	float: left;
	width: 150px;
}

#history table {
	margin: 0;
}

table.history td {
	padding: 3px 5px;
	font-size: 1.1em;
	line-height: 150%;
	border-bottom: 1px solid #222;
}

table.history td.active {
	font-weight: bold;
	background-color: #444;
	color: #FFF;
}

table.history td.date {
	width: 1%;
	white-space: nowrap;
}

#board_wrapper {
	float: left;
	width: 550px;
	margin-left: 5px;
}

#board {
	width: 550px;
	height: 450px;
}

#history .review {
	margin-bottom: 2px;
	text-align: center;
}

#history .review span {
	padding: 2px 5px 1px;
	border: 1px solid #AAA;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
}

#history .review span.disabled {
	color: #CCC;
	border-color: #CCC;
	cursor: default;
}

#history .review span:hover {
	border-color: #555;
}

#history .review span.disabled {
	border-color: #DDD;
}

form#game {
	clear: both;
	text-align: center;
	padding-top: 20px;
}
