/* Pharaoh layout */
/*
	all the colors for the styles are listed in the
	c_{color_name}.css file.  they are pulled out for
	ease of customization.  set your color by entering
	the name of the css file you wish to use in the
	config.inc.php file.
*/
/* basic styles */
/* line 13, scss/layout.scss */
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.5;
  font-weight: normal;
  font-family: sans-serif;
}

/* line 23, scss/layout.scss */
h1 {
  height: 45px;
  margin: 0 0 3px;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  text-indent: -9999em;
  border-bottom: 2px solid #000;
}
/* line 32, scss/layout.scss */
h1 a {
  background: transparent url(../images/Pharaoh.png) no-repeat scroll 15px center;
  display: block;
  text-decoration: none;
  height: 100%;
}

/* line 41, scss/layout.scss */
a {
  font-weight: bold;
  text-decoration: underline;
}
/* line 45, scss/layout.scss */
a:hover {
  text-decoration: none;
}
/* line 49, scss/layout.scss */
a.help {
  border: 1px solid #777;
  font-weight: bold;
  padding: 0 2px;
  text-decoration: none;
}
/* line 55, scss/layout.scss */
a.help:hover {
  border: 1px solid #999;
}

/* line 63, scss/layout.scss */
abbr,
acronym {
  border-bottom: 1px dashed #777;
  cursor: help;
}

/* line 69, scss/layout.scss */
hr.fancy {
  height: 5px;
  margin: 1em;
  background-color: #999;
  border: 1px solid #777;
}

/* line 77, scss/layout.scss */
p {
  margin: 1em 0;
  line-height: 1.2;
}

/* line 83, scss/layout.scss */
fieldset {
  padding: 5px;
  margin: 5px;
  border: 1px solid #777;
}

/* line 90, scss/layout.scss */
legend {
  font-weight: bold;
  font-size: larger;
}

/* line 96, scss/layout.scss */
.warning, .warning * {
  color: #C00;
  font-weight: bold;
}

/* line 102, scss/layout.scss */
.notice, .notice * {
  color: #CC0;
  font-weight: bold;
}

/* line 108, scss/layout.scss */
.highlight, .highlight * {
  color: #00C;
  font-weight: bold;
}

/* line 114, scss/layout.scss */
.instruction, .instruction * {
  color: #AAA;
}

/* line 119, scss/layout.scss */
.caption {
  margin: 1ex 0;
}

/* line 124, scss/layout.scss */
#date {
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap;
  text-align: right;
}

/* links */
/* line 133, scss/layout.scss */
#links {
  float: right;
  margin: 1em;
  font-weight: bold;
  color: #EEE;
}
/* line 139, scss/layout.scss */
#links a {
  text-decoration: none;
  padding: 0.3ex 0.75ex;
  border: 1px solid transparent;
  background-color: transparent;
  color: #333;
}
/* line 146, scss/layout.scss */
#links a:hover {
  border-color: #000;
  background-color: #555;
  color: #EEE;
}

/* fix some stupid IE7 float bug */
/* line 154, scss/layout.scss */
*:first-child + html #links {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

/* wrapper */
/* line 163, scss/layout.scss */
#wrapper {
  margin: 0;
  padding: 0;
}

/* menu */
/* line 170, scss/layout.scss */
#menuholder {
  width: 1px;
  overflow: visible;
  float: left;
}
/* line 175, scss/layout.scss */
#menuholder div {
  float: left;
  margin: 3px;
  margin-bottom: 2em;
}
/* line 181, scss/layout.scss */
#menuholder #mygames_title {
  margin: 0;
  white-space: nowrap;
}

/* line 189, scss/layout.scss */
#menu,
#mygames {
  border: 1px solid #777;
}
/* line 192, scss/layout.scss */
#menu a,
#mygames a {
  text-align: right;
  font-size: 10px;
  padding: 6px 5px;
  width: 160px;
  white-space: nowrap;
  margin: 0;
  font-weight: bold;
  text-decoration: none;
  display: block;
  color: #333;
  background-color: #EEE;
  border-bottom: 1px solid #555;
}
/* line 206, scss/layout.scss */
#menu a:hover,
#mygames a:hover {
  color: #DDD;
  background-color: #555;
}
/* line 211, scss/layout.scss */
#menu a .notice,
#mygames a .notice {
  color: #99F;
}
/* line 216, scss/layout.scss */
#menu ul,
#mygames ul {
  margin: 0;
  padding: 0;
}
/* line 221, scss/layout.scss */
#menu li,
#mygames li {
  text-indent: 0;
  margin: 0;
  padding: 0;
  list-style: none outside none;
}
/* line 228, scss/layout.scss */
#menu li.active a,
#mygames li.active a {
  color: #DDD;
  background-color: #333;
  border-color: #333;
}
/* line 235, scss/layout.scss */
#menu li:last-child a,
#mygames li:last-child a {
  border-bottom: 0;
}

/* line 240, scss/layout.scss */
*:first-child + html #menu li {
  margin-left: -1.25em;
}

/* line 246, scss/layout.scss */
#mygames a {
  white-space: normal;
}
/* line 250, scss/layout.scss */
#mygames .finished a {
  color: #999;
}
/* line 251, scss/layout.scss */
#mygames .playing a {
  color: #F00;
}
/* line 252, scss/layout.scss */
#mygames .my_turn a {
  color: #FF0;
}
/* line 253, scss/layout.scss */
#mygames .none a {
  color: #FFF;
}

/* notes */
/* line 258, scss/layout.scss */
#sidebar {
  float: right;
  width: 160px;
  overflow: visible;
}
/* line 263, scss/layout.scss */
#sidebar #chatbox {
  float: right;
  width: 160px;
  padding: 5px;
  margin: 3px;
  background-color: #EEE;
  border: 1px solid #777;
}
/* line 271, scss/layout.scss */
#sidebar #chatbox input {
  width: 95%;
}
/* line 276, scss/layout.scss */
#sidebar #chats {
  height: 300px;
}
/* line 280, scss/layout.scss */
#sidebar .active {
  position: relative;
  top: 0;
  right: 0;
  width: 500px;
}

/* line 289, scss/layout.scss */
#notes {
  float: right;
  width: 160px;
  min-height: 300px;
  padding: 5px;
  margin: 3px;
  background-color: #EEE;
  border: 1px solid #777;
}

/* chats */
/* line 301, scss/layout.scss */
#chatbox input[type=text] {
  width: 90%;
}

/* line 306, scss/layout.scss */
#game_page #chatbox input[type=text] {
  width: auto;
}

/* line 311, scss/layout.scss */
#chats {
  height: 200px;
  overflow: auto;
}
/* line 315, scss/layout.scss */
#chats dt {
  background: transparent;
  color: #000;
  font-weight: bold;
  padding: 0 3px;
}
/* line 321, scss/layout.scss */
#chats dt span {
  float: right;
  font-size: 80%;
}
/* line 327, scss/layout.scss */
#chats dd {
  padding: 0 3px;
  border-bottom: 1px solid #000;
}
/* line 332, scss/layout.scss */
#chats img {
  float: left;
}

/* main */
/* line 339, scss/layout.scss */
h2 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 1ex;
  border-bottom: 1px solid #777;
}

/* line 347, scss/layout.scss */
.type {
  font-size: smaller;
  padding-left: 2em;
}
/* line 351, scss/layout.scss */
.type .number {
  font-weight: bold;
  margin-right: 2em;
}
/* line 356, scss/layout.scss */
.type a {
  margin: 0 2em;
}

/* line 362, scss/layout.scss */
#content {
  margin: 3px 185px;
}
/* line 365, scss/layout.scss */
#content.full {
  margin: 5px;
}
/* line 369, scss/layout.scss */
#content .sidebar {
  float: right;
  width: 300px;
  margin-top: 10px;
}
/* line 377, scss/layout.scss */
#content form .buttons #delete {
  float: right;
}
/* line 381, scss/layout.scss */
#content form .buttons .prevnext {
  margin-bottom: 20px;
}
/* line 384, scss/layout.scss */
#content form .buttons .prevnext span {
  padding: 0 10px;
}
/* line 391, scss/layout.scss */
#content #recipient_list {
  margin-top: 20px;
}

/* line 397, scss/layout.scss */
.stats {
  width: 150px;
  float: left;
  margin: 3px;
}

/* line 405, scss/layout.scss */
#index_page .tableholder {
  max-height: 300px;
  overflow-y: auto;
}
/* line 410, scss/layout.scss */
#index_page #chatbox {
  border: 1px solid #777;
}
/* line 413, scss/layout.scss */
#index_page #chatbox input[type=text] {
  width: 99%;
}
/* line 418, scss/layout.scss */
#index_page #chats {
  border-top: 1px solid #777;
  height: 500px;
}
/* line 422, scss/layout.scss */
#index_page #chats dt {
  height: 50px;
  width: 150px;
  float: left;
  border-bottom: 3px solid #777;
  padding: 5px;
  margin: 0 20px 5px 0;
  position: relative;
  text-align: right;
  background: transparent;
}
/* line 434, scss/layout.scss */
#index_page #chats dd {
  min-height: 50px;
  border-bottom: 1px solid #AAA;
  padding: 5px 5px 6px 5px;
  margin: 0 0 6px 0;
}
/* line 441, scss/layout.scss */
#index_page #chats span {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

/* messages */
/* line 452, scss/layout.scss */
h2.subject,
p.message {
  width: 70ex;
}

/* line 457, scss/layout.scss */
.sender {
  margin-left: 3em;
  font-size: smaller;
}

/* line 463, scss/layout.scss */
.link_date {
  float: right;
  text-align: right;
  width: 300px;
}
/* line 468, scss/layout.scss */
.link_date a {
  float: left;
}

/* line 475, scss/layout.scss */
#recipient_list ul {
  margin: 10px;
}
/* line 479, scss/layout.scss */
#recipient_list .unread {
  font-weight: bold;
}
/* line 483, scss/layout.scss */
#recipient_list .deleted {
  text-decoration: line-through;
}

/* line 489, scss/layout.scss */
.action select {
  float: right;
}

/* footer */
/* line 495, scss/layout.scss */
#footerspacer {
  height: 100px;
  /* make sure nothing gets hidden behind the footer */
  clear: both;
}

/* line 501, scss/layout.scss */
#footer {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  line-height: 26px;
  clear: both;
  padding: 3px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: #FFF;
  border-top: 1px solid #BBB;
}
/* line 516, scss/layout.scss */
#footer span {
  margin: 0 2em;
}
/* line 520, scss/layout.scss */
#footer p {
  margin: 0;
  padding: 0;
  line-height: 130%;
}

/* other basic styles */
/* line 529, scss/layout.scss */
.notice {
  font-weight: bold;
}

/* line 534, scss/layout.scss */
.afterthought {
  font-size: 11px;
  font-weight: normal;
}

/* line 540, scss/layout.scss */
.instruction {
  margin: 0 0 10px 10px;
  font-size: 11px;
  line-height: 11px;
}

/* line 548, scss/layout.scss */
ul.settings li {
  float: left;
  width: 100%;
}
/* line 553, scss/layout.scss */
ul.settings label {
  clear: left;
}

/* line 559, scss/layout.scss */
#buttons {
  float: right;
  margin-right: 1px;
}
/* line 563, scss/layout.scss */
#buttons li {
  float: left;
  margin-left: 1px;
}
/* line 568, scss/layout.scss */
#buttons a {
  display: block;
  padding: 0 1em;
  border: 1px solid #333;
  border-width: 0 1px;
  margin: 0 -1px;
}

/* line 578, scss/layout.scss */
.clone {
  display: none;
  visibility: hidden;
}

/* line 586, scss/layout.scss */
div.help ol,
div.help ul {
  text-indent: -1em;
  margin: 0 0 1ex 2em;
}
/* line 591, scss/layout.scss */
div.help li {
  text-indent: -1em;
  margin-bottom: 1ex;
}
/* line 595, scss/layout.scss */
div.help li strong {
  color: #F00;
}
/* line 600, scss/layout.scss */
div.help table {
  width: auto;
  margin: 0 auto;
}

/* line 607, scss/layout.scss */
.turn {
  margin-left: 100px;
}
